.homeTitle{
    font-size: 40px;
    width: 1024px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 10px;
}

.homeAni{
    transition: all .5s ease-in-out;
    transform: translate3d(0, 20px, 0);
    opacity: 0;
}

.homeAni.active{
    transform: translate3d(0, 0px, 0);
    opacity: 1;
}